.git
.env
.env.*
**/auth.json
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/views/*.php
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
.phpstan-cache
artifacts
.codex
docs
**/__pycache__
